<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>HUMAINT Annotator</title>
        <link rel="icon" href="/static/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
        <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="/static/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0b5ed7;">
            <div class="container">
                <div class="container-fluid">
                <a href="index.html" class="navbar-brand text-light" href="#">HUMAINT Annotator</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="#">Annotate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-light" href="/logout">{{current_user.name}}/Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal fade" id="assignGroupPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="assignGroupPopupLabel">Assign agent to group</h5>
                    </div>
                    <div id="assignGroupPopup-body" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="saveChanges-btn" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="contentObject" class="container mt-5">
            <div class="row">
                <div class="custom-select col-lg-3" style="visibility: hidden;">
                    <select id="selectBox" class="rounded" onchange="selectDataset('')">
                        <option value="none" selected disabled style="color:lightgray;">Select a dataset</option>
                        <optgroup label="Persons">
                            <option value="citypersons">CityPersons</option>
                            <option value="eurocity-persons">Eurocity</option>
                            <option value="nuscenes-persons">NuScenes Persons</option>
                            <option value="tsinghua-daimler">Tsinghua-Daimler</option>
                            <option value="kitti-persons">Kitti Persons</option>
                            <option value="bair-persons">BAIR Persons</option>
                        </optgroup>
                        <optgroup label="Vehicles">
                            <option value="nuscenes-vehicles">NuScenes Vehicles</option>
                            <option value="kitti-vehicles">Kitti Vehicles</option>
                            <option value="bair-vehicles">BAIR Vehicles</option>
                        </optgroup>
                    </select>
                </div>
                <div id="ptg-annotated-text" class="col-lg-3" style="text-align: right; padding-right: 0; padding-top: 0.3vw; visibility:hidden">Percentage annotated</div>
                <div class="w3-container col-lg-6" style="visibility: hidden; padding-left: 0.3vw;">
                    <div class="w3-border w3-light-gray rounded">
                        <div class="rounded" style="height:2em;width:90%;background-color:#0b5ed7; text-align:right; padding-top:0.3vw; padding-right:0.5vw;"><span id="ptg-annotated" style="color:white">90%</span></div>
                    </div>
                </div>
            </div>
            <div id="ds-buttons" class="container">
                <span style="font-size: 1.5em; padding: 6px;">Select a <span style="font-weight: bold;">Persons</span> dataset</span>
                <button class="dataset-btn btn-primary mt-3" onclick="selectDataset('citypersons', 'persons')">
                    <div class="ds-name">CityPersons</div>
                    <span class="ptg-labelled-title">Images labelled: </span>
                    <span id="ptg-citypersons" class="percentage-completed">&nbsp;&nbsp;5%&nbsp;&nbsp;</span>
                    <svg class="ptg-circle">
                        <circle r="35" cx="50%" cy="50%" stroke="#aeaaaa" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="165, 165">
                        </circle>
                        <circle id="success-value-citypersons" r="35" cx="50%" cy="50%" stroke="#6dd0ff" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="0, 220">
                        </circle>
                    </svg>
                </button>
                <button class="dataset-btn btn-primary mt-3" onclick="selectDataset('eurocity', 'persons')">
                    <div class="ds-name">Eurocity Persons</div>
                    <span class="ptg-labelled-title">Images labelled: </span>
                    <span id="ptg-eurocity-persons" class="percentage-completed">&nbsp;80%&nbsp;</span>
                    <svg class="ptg-circle">
                        <circle r="35" cx="50%" cy="50%" stroke="#aeaaaa" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="165, 165">
                        </circle>
                        <circle id="success-value-eurocity-persons" r="35" cx="50%" cy="50%" stroke="#6dd0ff" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="0, 220">
                        </circle>
                    </svg>
                </button>
                <button class="dataset-btn btn-primary mt-3" onclick="selectDataset('nuscenes', 'persons')">
                    <div class="ds-name">NuScenes Persons</div>
                    <span class="ptg-labelled-title">Images labelled: </span>
                    <span id="ptg-nuscenes-persons" class="percentage-completed">100%</span>
                    <svg class="ptg-circle">
                        <circle r="35" cx="50%" cy="50%" stroke="#aeaaaa" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="165, 165">
                        </circle>
                        <circle id="success-value-nuscenes-persons" r="35" cx="50%" cy="50%" stroke="#6dd0ff" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="0, 220">
                        </circle>
                    </svg>
                </button>
                <button class="dataset-btn btn-primary mt-3" onclick="selectDataset('tsinghua-daimler', 'persons')">
                    <div class="ds-name">Tsinghua-Daimler</div>
                    <span class="ptg-labelled-title">Images labelled: </span>
                    <span id="ptg-tsinghua" class="percentage-completed">100%</span>
                    <svg class="ptg-circle">
                        <circle r="35" cx="50%" cy="50%" stroke="#aeaaaa" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="165, 165">
                        </circle>
                        <circle id="success-value-tsinghua" r="35" cx="50%" cy="50%" stroke="#6dd0ff" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="0, 220">
                        </circle>
                    </svg>
                </button>
                <button class="dataset-btn btn-primary mt-3" onclick="selectDataset('kitti', 'persons')">
                    <div class="ds-name">Kitti Persons</div>
                    <span class="ptg-labelled-title">Images labelled: </span>
                    <span id="ptg-kitti-persons" class="percentage-completed">100%</span>
                    <svg class="ptg-circle">
                        <circle r="35" cx="50%" cy="50%" stroke="#aeaaaa" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="165, 165">
                        </circle>
                        <circle id="success-value-kitti-persons" r="35" cx="50%" cy="50%" stroke="#6dd0ff" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="0, 220">
                        </circle>
                    </svg>
                </button>
                <button class="dataset-btn btn-primary mt-3 mb-5" onclick="selectDataset('bair', 'persons')">
                    <div class="ds-name">BAIR Persons</div>
                    <span class="ptg-labelled-title">Images labelled: </span>
                    <span id="ptg-bair-persons" class="percentage-completed">100%</span>
                    <svg class="ptg-circle">
                        <circle r="35" cx="50%" cy="50%" stroke="#aeaaaa" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="165, 165">
                        </circle>
                        <circle id="success-value-bair-persons" r="35" cx="50%" cy="50%" stroke="#6dd0ff" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="0, 220">
                        </circle>
                    </svg>
                </button>
                <span style="font-size: 1.5em; padding: 6px;">Select a <span style="font-weight: bold;">Vehicles</span> dataset</span>
                <button class="dataset-btn btn-primary mt-3" onclick="selectDataset('nuscenes', 'vehicles')">
                    <div class="ds-name">NuScenes Vehicles</div>
                    <span class="ptg-labelled-title">Images labelled: </span>
                    <span id="ptg-nuscenes-vehicles" class="percentage-completed">100%</span>
                    <svg class="ptg-circle">
                        <circle r="35" cx="50%" cy="50%" stroke="#aeaaaa" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="165, 165">
                        </circle>
                        <circle id="success-value-nuscenes-vehicles" r="35" cx="50%" cy="50%" stroke="#6dd0ff" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="0, 220">
                        </circle>
                    </svg>
                </button>
                <button class="dataset-btn btn-primary mt-3" onclick="selectDataset('kitti', 'vehicles')">
                    <div class="ds-name">Kitti Vehicles</div>
                    <span class="ptg-labelled-title">Images labelled: </span>
                    <span id="ptg-kitti-vehicles" class="percentage-completed">100%</span>
                    <svg class="ptg-circle">
                        <circle r="35" cx="50%" cy="50%" stroke="#aeaaaa" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="165, 165">
                        </circle>
                        <circle id="success-value-kitti-vehicles" r="35" cx="50%" cy="50%" stroke="#6dd0ff" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="0, 220">
                        </circle>
                    </svg>
                </button>
                <button class="dataset-btn btn-primary mt-3" onclick="selectDataset('bair', 'vehicles')">
                    <div class="ds-name">BAIR Vehicles</div>
                    <span class="ptg-labelled-title">Images labelled: </span>
                    <span id="ptg-bair-vehicles" class="percentage-completed">100%</span>
                    <svg class="ptg-circle">
                        <circle r="35" cx="50%" cy="50%" stroke="#aeaaaa" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="165, 165">
                        </circle>
                        <circle id="success-value-bair-vehicles" r="35" cx="50%" cy="50%" stroke="#6dd0ff" fill="none" stroke-width="7" stroke-linecap="round" stroke-dasharray="0, 220">
                        </circle>
                    </svg>
                </button>
            </div>
            <div id="canvasContainer" class= "magnifying-glass-container mt-5">
                <canvas id="imgToAnnotate"></canvas>
                <canvas id="zoomed-canvas"></canvas>
            </div>
            <div id="agentsTabs" class="tab" style="visibility:hidden;"></div>
            <div id="groupsList" class="row mt-5">
                Available groups:&nbsp;&nbsp;
            </div>   
            <div class="text-center">
                <button id="loadimage-btn" type="button" class="btn btn-primary btn-lg rounded mt-3" onclick="loadData()"><span class="font-weight-bold">Save and load image</span></button>
                <button id="discardimage-btn" type="button" class="btn btn-primary btn-lg rounded mt-3" onclick="discardImage('discarded-by-user');cleanAndDrawNew()"><span class="font-weight-bold">Discard image</span></button>
            </div>  
        </div>
        <div class="copyright py-4 text-center text-white" style="background-color: #0b5ed7; margin-top: 25vw;">
            <div class="container"><small>Copyright © HUMAINT group, European Commision, 2021</small></div>
        </div>
        <script src="/static/annotator.js"></script>
    </body>
</html>